[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(168,232,255,1) 100%);
	padding-top: 70px;
}

input {
	background: #fff !important;
}

.container {
	margin: 0px;
	padding: 0px;
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.navbar-default {
	border: none !important;
	background: rgba(168,232,255,1) !important;
	box-shadow: 0px 0px 10x 4px rgba(119, 119, 119, 0.35);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.35);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.35);
}

.navbar-header > .navbar-toggle:hover, .navbar-header > .navbar-toggle:focus{
	background: rgba(171,250,255,1) !important;
}

.navbar-nav > .active > a {
	background: linear-gradient(45deg, rgba(200,240,255,1) 0%, rgba(168,232,255,1) 100%) !important;
	font-weight: bold;
	box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.3);
	-moz-box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.3);
}

.nav.nav-tabs{
	height: 30px;
}

.uib-tab.ng-isolate-scope.active > a, .uib-tab.ng-isolate-scope > a:hover{
	height: 30px;
	background: white !important;
}

.panel-heading {
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(168,232,255,1) 100%) !important;
}

label {
	font-weight: normal !important;	
}

.converter {
	font-family: "Arial Black", Gadget, sans-serif !important;
	color: rgb(119,119,119) !important;
}

.title {
	color: rgb(119,119,119) !important;
}

.col-sm-4.right-panel {
	padding-top: 25px !important;
}

.context-button {
	cursor: pointer;
	font-size: 11px;
	padding: 2px;
	border-radius: 5px;
	background: linear-gradient(45deg, rgba(200,240,255,1) 0%, rgba(168,232,255,1) 100%) !important;
	box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.3);
	-moz-box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.3);
}

.context-button:hover {
	font-weight: bold;
}

.text-glow {
	animation: 0.5s glow;
}

@keyframes glow {
  to {
	text-shadow: -1px 1px 8px grey, 1px -1px 8px grey;
  }
}