<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="currencymeeting">
	<head>
	<title>currencymeeting.com</title>
	<meta property="og:url"           content="http://www.currencymeeting.com" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="currencymeeting.com" />
	<meta property="og:description"   content="Exchange currency" />
	<meta property="og:image"         content="currencymeeting/web-pages/images/img.png" />
	<meta name="title" content="mylastphone.com" />
	<meta name="keywords" content="phone, phones, device, devices, smartphone, smart, last, latest, new, newest, beautiful, android, ios, windows, samsung, apple, blackberry, nokia" />
	<meta name="author" content="mylastphone.com" />
	<meta name="description" content="Find out what your old phones say about you." />
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<!-- jQuery -->
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<!-- angular.js Libraries -->
	<script src="https://code.angularjs.org/1.4.1/angular.js"></script>	
	<script src="https://code.angularjs.org/1.4.1/angular-aria.min.js"></script>
	<script src="https://code.angularjs.org/1.4.1/angular-route.js"></script>
	<script src="https://code.angularjs.org/1.4.1/angular-cookies.js"></script>
	<script src="https://code.angularjs.org/1.4.1/angular-animate.js"></script>
	<script src="https://code.angularjs.org/1.4.1/angular-messages.min.js"></script>
	
	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>	
	
	<!-- bootstrap Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
	<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	<!-- currencymeeting Libraries -->
	<script src="/currencymeeting/web-pages/angular/module.js"></script>
	<script src="/currencymeeting/web-pages/angular/run.js"></script>
	<script src="/currencymeeting/web-pages/angular/config.js"></script>
	<script src="/currencymeeting/web-pages/angular/directives.js"></script>
	<script src="/currencymeeting/web-pages/angular/factories.js"></script>
	<script src="/currencymeeting/web-pages/angular/create-user-controller.js"></script>
	<script src="/currencymeeting/web-pages/angular/login-controller.js"></script>
	<script src="/currencymeeting/web-pages/angular/menu-controller.js"></script>
	
	</head>
		
	<body ng-controller="CreateUserController as crtUsrCtr" ng-cloak>
		<span class="menu"></span>
		<input type="text" ng-model="name"/>
		<input type="text" ng-model="email"/>
		<input type="text" ng-model="password"/>
		<input type="text" ng-model="country"/>
		<input type="text" ng-model="city"/>
		<input type="text" ng-model="phoneNumber"/>
		<input type="button" ng-click="crtUsrCtr.createUser()"/>
	</body>
	
</html>