<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="currencymeeting">
	<head>
	<title>currencymeeting.com</title>
	<meta property="og:url"           content="http://www.currencymeeting.com" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="currencymeeting.com" />
	<meta property="og:description"   content="Exchange currency" />
	<meta property="og:image"         content="http://www.currency.com/mylastphone/web/images/img.png" />
	<meta name="title" content="mylastphone.com" />
	<meta name="keywords" content="phone, phones, device, devices, smartphone, smart, last, latest, new, newest, beautiful, android, ios, windows, samsung, apple, blackberry, nokia" />
	<meta name="author" content="mylastphone.com" />
	<meta name="description" content="Find out what your old phones say about you." />
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/currencymeeting/web-pages/style/style.css" />
	
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<!-- jQuery -->
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<!-- angular.js Libraries -->
	<script src="https://code.angularjs.org/1.4.1/angular.js"></script>	
	<script src="https://code.angularjs.org/1.4.1/angular-aria.min.js"></script>
	<script src="https://code.angularjs.org/1.4.1/angular-route.js"></script>
	<script src="https://code.angularjs.org/1.4.1/angular-cookies.js"></script>
	<script src="https://code.angularjs.org/1.4.1/angular-animate.js"></script>
	<script src="https://code.angularjs.org/1.4.1/angular-messages.min.js"></script>
	
	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>	
	
	<!-- bootstrap Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
	<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	<!-- currencymeeting Libraries -->
	<script src="/currencymeeting/web-pages/angular/module.js"></script>
	<script src="/currencymeeting/web-pages/angular/run.js"></script>
	<script src="/currencymeeting/web-pages/angular/config.js"></script>
	<script src="/currencymeeting/web-pages/angular/directives.js"></script>
	<script src="/currencymeeting/web-pages/angular/factories.js"></script>
	<script src="/currencymeeting/web-pages/angular/create-user-controller.js"></script>
	<script src="/currencymeeting/web-pages/angular/login-controller.js"></script>
	<script src="/currencymeeting/web-pages/angular/menu-controller.js"></script>
	<script src="/currencymeeting/web-pages/angular/transaction-controller.js"></script>
	</head>
	
	<body>
		<span class="menu"></span>
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-lg-2">
		      <p>Lorem ipsum...</p>
		    </div>
		    <div class="col-lg-5" ng-controller="TransactionController as trnCtr">
		    	<md-input-container class="md-block">
			        <label>Country</label>
			        <md-select ng-model="country" ng-change="getCities()">
					    <md-option ng-value="country" ng-repeat="country in countries track by $index">{{country}}</md-option>
					</md-select>
			      </md-input-container>
			      
		    	<md-input-container class="md-block">
			        <label>City</label>
			        <md-select ng-model="city">
						<md-option ng-value="city" ng-repeat="city in cities track by $index">{{city}}</md-option>
					</md-select>
			      </md-input-container>
			      
			      <md-input-container class="md-block">
			        <label>I want currency</label>
			        <md-select ng-model="currencyOne">
						<md-option ng-value="currencyone" ng-repeat="currencyone in currencies">{{currencyone['Currency Name']}}</md-option>
					</md-select>
			      </md-input-container>
				
				<md-input-container class="md-block">
			        <label>Amount</label>
			        <input md-maxlength="10" required="" name="amountone" ng-model="amountOne">
			        <div ng-messages="projectForm.description.$error">
			          <div ng-message="required">This is required.</div>
			          <div ng-message="md-maxlength">The amount can't be larger than 10 charcters.</div>
			        </div>
			      </md-input-container>
			      
			      <md-button class="md-raised md-primary" ng-click="trnCtr.changeContext()">Change context</md-button>
			      
			      <md-input-container class="md-block">
			        <label>I have currency</label>
			        <md-select ng-model="currencyTwo">
						<md-option ng-value="currencytwo" ng-repeat="currencytwo in currencies">{{currencytwo['Currency Name']}}</md-option>
					</md-select>
			      </md-input-container>
				
				<md-input-container class="md-block">
			        <label>Amount</label>
			        <input md-maxlength="10" required="" name="amounttwo" ng-model="amountTwo">
			        <div ng-messages="projectForm.description.$error">
			          <div ng-message="required">This is required.</div>
			          <div ng-message="md-maxlength">The amount can't be larger than 10 charcters.</div>
			        </div>
			      </md-input-container>
				
				<md-input-container class="md-block">
			        <label>Time</label>
			        <input md-maxlength="10" required="" name="time" ng-model="time">
			        <div ng-messages="projectForm.description.$error">
			          <div ng-message="required">This is required.</div>
			          <div ng-message="md-maxlength">The amount can't be larger than 10 charcters.</div>
			        </div>
			      </md-input-container>
				
				<md-input-container class="md-block">
			        <label>Place</label>
			        <input md-maxlength="10" required="" name="place" ng-model="place">
			        <div ng-messages="projectForm.description.$error">
			          <div ng-message="required">This is required.</div>
			          <div ng-message="md-maxlength">The amount can't be larger than 10 charcters.</div>
			        </div>
			      </md-input-container>

				<md-button class="md-raised md-primary" ng-click="trnCtr.create()">Primary</md-button>

		    </div>
		    <div class="col-lg-5">
		      <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp">
				  <md-content>
				    <md-tabs md-dynamic-height="" md-border-bottom="">
				      <md-tab label="one">
				        <md-content class="md-padding">
				          <h1 class="md-display-2">Tab One</h1>
				          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
				        </md-content>
				      </md-tab>
				      <md-tab label="two">
				        <md-content class="md-padding">
				          <h1 class="md-display-2">Tab Two</h1>
				          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
				          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
				          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
				        </md-content>
				      </md-tab>
				      <md-tab label="three">
				        <md-content class="md-padding">
				          <h1 class="md-display-2">Tab Three</h1>
				          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
				        </md-content>
				      </md-tab>
				    </md-tabs>
				  </md-content>
				</div>
				
				<!--
				Copyright 2016 Google Inc. All Rights Reserved. 
				Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
				-->
		    </div>
		  </div>
		</div>
	</body>

</html>