<form role="form">	
	<div class="form-group">
		<label>I am from:</label>
		<select class="form-control" ng-model="country">
			<option selected disabled>Select country</option>
		</select>
	</div>
	<div class="form-group">
		<label>City:</label>
		<select class="form-control" ng-model="city">
			<option selected disabled>Select city</option>
		</select>
	</div>
</form>