<form role="form converter">
	<div class="form-group">
		<label class="converter">Converter:</label>
		<select class="form-control">
			<option selected disabled>Change from</option>
		    <option>1</option>
		    <option>2</option>
		    <option>3</option>
		    <option>4</option>
		  </select>
	</div>
	<div class="form-group">
		<input type="number" class="form-control" placeholder="Amount">
	</div>
	<div class="form-group">
		<select class="form-control">
			<option selected disabled>to</option>
		    <option>1</option>
		    <option>2</option>
		    <option>3</option>
		    <option>4</option>
		  </select>
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Result" readonly>
	</div>
</form>