<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
		<form role="form">
			<div class="form-group">
				<label>E-mail address:</label>
				<input type="text" class="form-control" placeholder="Enter your e-mail" ng-model="email">
			</div>
			<div class="form-group">
				<label>Password:</label>
				<input type="password" class="form-control" placeholder="Password" ng-model="password">
			</div>        
	        <button class="btn btn-default" ng-click=>
	          <span class="glyphicon glyphicon-user"></span>
	          Login
	        </button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>