<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" href="#">WebSiteName</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav menu">
				<li><a href="#search"><span class="glyphicon glyphicon-search"></span> Search transaction</a></li>
				<li><a href="#new"><span class="glyphicon glyphicon-plus"></span> New transaction</a></li> 
				<li><a href="#feedback"><span class="glyphicon glyphicon-envelope"></span> Send us feedback</a></li> 
			</ul>			
			<log-status-panel></log-status-panel>
		</div>
	</div>
</nav>

<signup-modal></signup-modal>
<login-panel></login-panel>