<div class="hidden-sm hidden-md hidden-lg hidden-xl title">
	<h4>New transaction</h4>
</div>
<sign-up-form></sign-up-form>
<form role="form">
	<div class="form-group">
		<label class="context">{{labelCurrency1}}</label>
		<select class="form-control">
			<option selected disabled>Select currency</option>
		</select>
	</div>
	<div class="form-group">
		<label>Amount:</label>
		<input type="number" class="form-control" ng-model="amount">
	</div>
	<div class="form-group">
		<label class="context">{{labelCurrency2}}</label>
		<select class="form-control">
			<option selected disabled>Select currency</option>
		</select>
	</div>
	<div class="form-group">
		<label>Amount:</label>
		<input type="number" class="form-control" ng-model="amount">
	</div>
	<div class="form-group">
		<div class="form-inline" style="padding-bottom: 34px !important;">
			<input type="number" style="width: 30%; float: left;" class="form-control" placeholder="From" ng-model="from">
			<input type="number" style="width: 30%; float: right;" class="form-control" placeholder="To" ng-model="to" value="{{from}}">
		</div>
	</div>
	<div class="form-group">
		<label>Meeting place:</label>
		<input type="text" class="form-control" placeholder="None" ng-model="amount">
	</div>
	<div class="form-group">
		<table>
			<tr>
				<td>
					<uib-timepicker ng-model="transactionTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
					</uib-timepicker>
				</td>
				<td>
					<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
				</td>
			</tr>
		</table>		
	</div>
	<button type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-search"></span> Create
	</button>
	<button type="submit" class="btn btn-default" ng-click="changeContext()">
		<span class="glyphicon glyphicon-glyphicon glyphicon-refresh"></span> Change context
	</button>
</form>
</div>