<uib-accordion close-others="true">					    
  <uib-accordion-group ng-init="status.how = true" is-open="status.how">
    <uib-accordion-heading>
      <span class="glyphicon glyphicon-pushpin"></span> How it works
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.how, 'glyphicon-chevron-right': !status.how}"></i>
    </uib-accordion-heading>
    This is just some content to illustrate fancy headings.
  </uib-accordion-group>					    
  <uib-accordion-group is-open="status.usd">
    <uib-accordion-heading>
      <span class="glyphicon glyphicon-usd"></span> USD Security features
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.usd, 'glyphicon-chevron-right': !status.usd}"></i>
    </uib-accordion-heading>
    This is just some content to illustrate fancy headings.
  </uib-accordion-group>					    
  <uib-accordion-group is-open="status.euro">
    <uib-accordion-heading>
      <span class="glyphicon glyphicon-euro"></span> EURO Security features
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.euro, 'glyphicon-chevron-right': !status.euro}"></i>
    </uib-accordion-heading>
    This is just some content to illustrate fancy headings.
  </uib-accordion-group>
</uib-accordion>