<div class="hidden-sm hidden-md hidden-lg hidden-xl title">
	<h4>Search transaction</h4>
</div>
<country-city></country-city>
<form role="form">	
	<div class="form-group">
		<label class="context">{{labelCurrency1}}</label>
		<span class="context-button" ng-click="changeContext()">
			<span class="glyphicon glyphicon-glyphicon glyphicon-refresh"></span> Change context
		</span>
		<select class="form-control">
			<option selected disabled>Select currency</option>
		</select>
	</div>
	<div class="form-group">
		<label>Amount:</label>
		<div class="form-inline" style="padding-bottom: 34px !important;">
			<input type="number" style="width: 49.5%; float: left;" class="form-control" placeholder="From" ng-model="from">
			<input type="number" style="width: 49.5%; float: right;" class="form-control" placeholder="To" ng-model="to" value="{{from}}">
		</div>
	</div>
	<div class="form-group">
		<label class="context">{{labelCurrency2}}</label>
		<select class="form-control">
			<option selected disabled>Select currency</option>
		</select>
	</div>
	<button type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-search"></span>
		Search
	</button>	
</form>
</div>