<html ng-app="app">
	<head>
		<!-- jQuery -->
		<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- bootstrap -->
		<link rel="stylesheet" type="text/css" href="./style/style.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />	
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<!-- angular.js Libraries -->
		<script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular.js"></script>	
		<script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-aria.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-route.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-cookies.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-animate.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-messages.min.js"></script>
		<!-- app -->
		<script type="text/javascript" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.0.js"></script>
		<script type="text/javascript" src="./js/module.js"></script>
		<script type="text/javascript" src="./js/main-controller.js"></script>
	</head>
	<body ng-controller="MainCtrl">

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					</button>
					<a class="navbar-brand" href="#">WebSiteName</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-search"></span> Search currency</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-plus"></span> Add currency</a></li> 
						<li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Send us feedback</a></li> 
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2 hidden-xs left-panel">

					<form role="form converter">
						<div class="form-group">
							<label class="converter">Converter:</label>
							<select class="form-control">
								<option selected disabled>Change from</option>
							    <option>1</option>
							    <option>2</option>
							    <option>3</option>
							    <option>4</option>
							  </select>
						</div>
						<div class="form-group">
							<input type="number" class="form-control" placeholder="Amount">
						</div>
						<div class="form-group">
							<select class="form-control">
								<option selected disabled>to</option>
							    <option>1</option>
							    <option>2</option>
							    <option>3</option>
							    <option>4</option>
							  </select>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Result" readonly>
						</div>
					</form>

				</div>

				<div class="col-sm-6">

					<div class="panel panel-default">
					  <div class="panel-heading">Panel Heading</div>
					  <div class="panel-body">Panel Content</div>
					  <div class="panel-heading" ng-init="isCollapsed=true" ng-click="isCollapsed=!isCollapsed; reload();">Panel Heading</div>
					</div>
				  <div uib-collapse="isCollapsed">
					  <div style="position: relative; width: 100%; height: 0; padding-bottom: 60%;">
					  	<iframe id="map" style="border:0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
							  frameborder="0"
							  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJ_diLmXP0_Ff4mWxXGN7XoSOs8MTsZtE
							    &q=Romania+Bucharest+Unirea" allowfullscreen>
							</iframe>
					  </div>
				  </div>
				</div>

				<div class="col-sm-4 right-panel">
					<uib-accordion close-others="true">					    
					    <uib-accordion-group ng-init="status.how = true" is-open="status.how">
					      <uib-accordion-heading>
					        <span class="glyphicon glyphicon-pushpin"></span> How it works
					        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.how, 'glyphicon-chevron-right': !status.how}"></i>
					      </uib-accordion-heading>
					      This is just some content to illustrate fancy headings.
					    </uib-accordion-group>					    
					    <uib-accordion-group is-open="status.usd">
					      <uib-accordion-heading>
					        <span class="glyphicon glyphicon-usd"></span> USD Security Features
					        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.usd, 'glyphicon-chevron-right': !status.usd}"></i>
					      </uib-accordion-heading>
					      This is just some content to illustrate fancy headings.
					    </uib-accordion-group>					    
					    <uib-accordion-group is-open="status.euro">
					      <uib-accordion-heading>
					        <span class="glyphicon glyphicon-euro"></span> EURO Security features
					        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.euro, 'glyphicon-chevron-right': !status.euro}"></i>
					      </uib-accordion-heading>
					      This is just some content to illustrate fancy headings.
					    </uib-accordion-group>
					  </uib-accordion>
				</div>
			</div>
		</div>
	</body>
</html>

