<div id="sign-up-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  	
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign up</h4>
      </div>
      <div class="modal-body">
        <sign-up-form></sign-up-form>        
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-user"></span>
          Sign up
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>