<country-city></country-city>
<form role="form">
	<div class="form-group">
		<label>Name:</label>
		<input type="text" class="form-control" placeholder="Enter your name" ng-model="name">
	</div>
	<div class="form-group">
		<label>Phone number:</label>
		<input type="text" class="form-control" placeholder="Enter your name" ng-model="phoneNumber">
	</div>
	<div class="form-group">
		<label>E-mail address:</label>
		<input type="text" class="form-control" placeholder="Enter your e-mail" ng-model="email">
	</div>
	<div class="form-group">
		<label>Password:</label>
		<input type="password" class="form-control" placeholder="Password" ng-model="password">
	</div>
	<div class="form-group">
		<label>Repeat password:</label>
		<input type="text" class="form-control" placeholder="" ng-model="repeatPassword">
	</div>
</form>