<form class="form-inline" role="form" ng-controller="LoginController as lgnCtr">
	<div class="form-group">
		<span>{{user.name}}</span>
	</div>
	<div class="form-group">
		<button type="button" class="form-control btn btn-info input-sm" ng-click="lgnCtr.destroy()">
			Log out
			<span class="glyphicon glyphicon-log-out"></span>
		</button>
	</div>
</form>