<form class="form-inline" role="form" ng-controller="LoginController as lgnCtr">
	<div class="form-group {{feedbackStatus}}">
		<input id="email" type="text" class="form-control input-sm" placeholder="Email address"
   			ng-model="email" ng-blur="lgnCtr.checkEmail()"/>
		<span class="{{emailStatus}}"></span>
	</div>
	<div class="form-group">
		<input type="password" placeholder="Password" class="form-control input-sm" id="password"
			ng-model="password" />
	</div>
	<div class="form-group">
		<button type="button" class="form-control btn btn-info input-sm" ng-click="lgnCtr.login()">
			<span class="glyphicon glyphicon-log-in"></span>
			Submit
		</button>
	</div>
</form>