<div ng-controller="MenuController" ng-cloak>

  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">        
        <h2>
          <span>Toolbar with Icon Buttons</span>
        </h2>
        <span flex></span>
        <connection-panel></connection-panel>       
        <!-- <md-button class="md-icon-button" aria-label="Favorite">
          <i class="material-icons" style="color: greenyellow;">favorite</i>
        </md-button> -->
        <md-button class="md-icon-button" aria-label="Settings" ng-click="openRightMenu()">
          <i class="material-icons">menu</i>
        </md-button>
      </div>
    </md-toolbar>
  </md-content> 
  
  <md-sidenav md-component-id="right-menu" class="md-sidenav-right">
    <md-content layout-padding>
	    <!-- <form name="userForm">
		  <md-input-container>
		   <label>E-mail</label>
		   <input type="text" />
		  </md-input-container>
		  <md-input-container>
		    <label>Password</label>
		    <input type="text" ng-model="password"/>
		  </md-input-container>
		  <md-button ng-click="lgnCtr.login()">
			  <i class="material-icons">visibility</i>
			  Login
		  </md-button>
		  {{isConnection}}
		</form> -->
	</md-content>
  </md-sidenav>
  
</div>